<div class="container">
  <nav class="navbar navbar-light bg-light" style="background-color: #e7d20f;">
    <a class="navbar-brand" href="#" style="background-color:#e7d20f; width: 1800px;">
        <img src="../assets/logo.png" style="width: 200px; float:left"/>
    </a>
  </nav>
  <div class="row text-center mt-5">
    <div class="col">
      <h2>CRUD Mascotas</h2>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-2">
      <label for="txtId" class="from-label">ID</label>
      <input type="text" name="id" id="txtId" class="form-control" [(ngModel)]="mascota.ID" disabled="true">
    </div>
    <div class="col-md-4">
      <label for="txtNombre" class="from-label">Nombre</label>
      <input type="text" name="id" id="txtNombre" class="form-control" [(ngModel)]="mascota.Nombre">
    </div>
    <div class="col-md-2">
      <label for="txtEdad" class="from-label">Fecha de Nacimiento</label>
      <input type="text" name="id" id="txtEdad" class="form-control" [(ngModel)]="mascota.FechaNacimiento">
    </div>
    <div class="col-md-4">
      <label for="txtDesc" class="from-label">Descripcion</label>
      <input type="text" name="id" id="txtDesc" class="form-control" [(ngModel)]="mascota.Observaciones">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <button class="btn btn-success" type="button" (click)="onAddMascota(mascota)">Agregar</button>
      <button class="btn btn-warning m-2" type="button" (click)="onUpdateMascota(mascota)">Modificar</button>
      <button class="btn btn-danger" type="button" (click)="onDeleteMascota(mascota.ID)">Eliminar</button>
      <button class="btn btn-primary m-2" type="button" (click)="clear()">Limpiar</button>
    </div>
    
  </div>
  <div class="row mt-5">
    <div class="col">
      <table id="dtMascota" class="table table-striped" style="width: 100%;">
        <thead>
          <tr>
            <th>Seleccionar</th>
            <th>Id</th>
            <th>Nombre</th>
            <th>Fecha Nacimiento</th>
            <th>Observaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of datatable">
            <td><input type="button" value="Seleccionar" (click)="onSetData(item)"></td>
            <td> {{ item.ID }} </td>
            <td>{{ item.Nombre }}</td>
            <td>{{ item.FechaNacimiento | date:'yyyy-MM-dd' }}</td>
            <td>{{ item.Observaciones }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>